[Unit]
Description=Delete Old Log Files

[Service]
Type=simple
ExecStart=/bin/bash /home/magma/ftp-server/log_delete.sh

[Install]
WantedBy=multi-user.target


