#!/usr/bin/env bash

set -e

domain={{ orc8r_domain }}

declare -A loadBalancer_services

loadBalancer_services=(
  [fluentd]="fluentd"
  [nginx-proxy]="*.nms"
  [orc8r-nginx-proxy]="api"
  [orc8r-clientcert-nginx]="controller"
  [bootstrapper-orc8r-nginx]="bootstrapper-controller"
)

for svc in "${!loadBalancer_services[@]}"
do
  service_ip="$(kubectl get svc ${svc} \
    -o jsonpath='{.status.loadBalancer.ingress[0].ip}')"
  echo ${service_ip} ${loadBalancer_services[${svc}]}.${domain}
done
